*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    width: 60%;
    margin: 0 auto;
    margin-left: 100px;
    margin-bottom: 50px;
    text-align: center;
}
p{
    font-size: 14pt;
    width: 60%;
    margin: 10px auto 50px auto;
    line-height: 25px;
    /*text-align: justify;*/
}

img{
    margin: 0 auto;
    display: block;
}

.image_1{
    width: 60%;
}

.pidpis{
    font-size: 10pt;
    text-align: center;
    margin-top: 10px;
}

h2{
    width: 60%;
    margin: 0 auto;
}

.docker{
    background-color: beige;
    width: 60%;
    margin: 0 auto 50px auto;
    padding: 20px 20px;
    line-height: 35px;
    font-size: 15pt;

}